timer-test/src/main/mule/timer-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="timer-testFlow" doc:id="6ef15f71-bb09-44ad-8b04-7a66b244bcb4" >
		<scheduler doc:name="Scheduler" doc:id="33e2a3e8-b723-4bb7-86ea-c6f7eead7104" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="c752fff8-ac1d-43aa-9bdb-cd2ecff39315" message="Start"/>
		<set-payload value="'Timer set'" doc:name="Set Payload" doc:id="f5a03d54-775b-48ef-a24f-d91d01d4aedc" />
		<logger level="INFO" doc:name="Logger" doc:id="6999d1c3-bbb1-4c2c-a303-d73871c35f94" message="#[payload]"/>
	</flow>
</mule>
