google-test/src/main/mule/google-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:google-sheets="http://www.mulesoft.org/schema/mule/google-sheets" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/google-sheets http://www.mulesoft.org/schema/mule/google-sheets/current/mule-google-sheets.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="533e4d8c-bf40-4c85-88a4-c3232e065c9a" basePath="/" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="a2aab9c1-706e-461b-a022-cda35ee6b0ec" >
		<http:request-connection protocol="HTTPS" host="accounts.google.com" />
	</http:request-config>
	<google-sheets:config name="Google_Sheets_Config" doc:name="Google Sheets Config" doc:id="6e1edd79-abf5-40a1-bea5-17c63c76b68c" >
		<google-sheets:oauth-2-0-connection >
			<google-sheets:oauth-authorization-code consumerKey="1078226024647-jafekidr375d10ij0127sh22154rofi6.apps.googleusercontent.com" consumerSecret="gpADSNulTGeVwrUQGUbJ3366" />
			<google-sheets:oauth-callback-config listenerConfig="HTTP_Listener_callback" callbackPath="/callback" authorizePath="/auth" />
		</google-sheets:oauth-2-0-connection>
	</google-sheets:config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="9ac76698-5b62-475d-8f60-5aee90d9fcb9" basePath="/" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="c3a89199-27a6-4fbc-ad2a-db828539d854" >
		<http:request-connection protocol="HTTPS" host="accounts.google.com" port="443" />
	</http:request-config>
	<flow name="google-testFlow" doc:id="6d8878c6-c0c6-4f30-a460-cb4610a54756" >
		<http:listener doc:name="Listener" doc:id="46b518b2-13d0-4c59-b441-75df5b8b618d" config-ref="HTTP_Listener_config" path="/googleSheet"/>
		<google-sheets:get-files doc:name="List Drive Files" doc:id="1ea4634a-c943-4587-bc10-6d2527da3e68" config-ref="Google_Sheets_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="aacfe75c-22e3-40e3-a745-a63d01bea88d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="google-testFlow1" doc:id="b26adce9-120d-4e0e-ad3a-45c1a3c30087" >
		<http:listener doc:name="Listener" doc:id="7c673053-9020-49c9-9ef3-7eca0948620c" config-ref="HTTP_Listener_config1" path="/callback"/>
		<http:request method="GET" doc:name="Request" doc:id="8593a887-be0f-4172-90f6-e8751f65a31e" config-ref="HTTP_Request_configuration1" path="/o/oauth2/token">
			<http:body ><![CDATA[#[%dw 2.0
output application/json
---
{
"grant_type": "refresh_token",
    "refresh_token":"AIzaSyBq8zOBqytYRnkVACOv2z5cmnWxOkvP-r4",
    "client_id":"1078226024647-jafekidr375d10ij0127sh22154rofi6.apps.googleusercontent.com",
   "client_secret":"gpADSNulTGeVwrUQGUbJ3366"
}]]]></http:body>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="70fc55b7-b1e0-471c-bd24-c245f626036f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
